@font-face {
  font-family: 'FukuCatch';
  src: url('fonts/FukuCatch-Detetiive.ttf') format('truetype');
}
@font-face {
  font-family: 'DXRigraf';
  src: url('fonts/DXRigraf-SemiBold.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DXRigraf';
  src: url('fonts/DXRigraf-SemiBoldItalic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'DXRigraf';
  src: url('fonts/DXRigraf-SemiBoldExpanded.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DXRigraf';
  src: url('fonts/DXRigraf-SemBdExpIta.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
